.board {
    display: table;
    margin: 0 auto;
    border: 1px solid black;
}

.board-row {
    display: table-row;
}

.board-item {
    font-size: 35pt;
    display: table-cell;
    padding: 0.5rem;
    border: 1px solid black;
    cursor: pointer;
    width: 55px;
    height: 55px;
    text-align: center;
}